<configuration debug="false" scan="false" scanPeriod="30 seconds">

	<!-- ############################################ -->
	<!-- ## Properties ## -->
	<!-- ############################################ -->
	<property scope="context" name="pattern" value="mypattern %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

	<!-- ############################################ -->
	<!-- ## Appenders ## -->
	<!-- ############################################ -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<!-- ############################################ -->
	<!-- ## Root ## -->
	<!-- ############################################ -->
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

	<!-- ############################################ -->
	<!-- ## Loggers ## -->
	<!-- ############################################ -->
	<logger name="hello" level="INFO" />

</configuration>